<div class="row">
  <div class="col">
    <h3>The weather app</h3>
  </div>
</div>
<div class="row">
  <div class="col input-group input-group-lg">
    <input [(ngModel)]="input" id="search-field" class="form-control" placeholder="Type in city..." type="text" spellcheck="off"
      autocorrect="off" autocapitalize="off" autocomplete="off" #popper="ngbPopover" #search placement="left" ngbPopover="You need to enter a location or press the position button to the left"
      popoverTitle="Ops..." triggers="manual" (click)="popper.close()">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary btn-lg black-color" type="button" (click)="currentPosition()">
        <fa name="location-arrow"></fa>
        <!-- Setting location arrow on the button-->
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col input-group-btn input-group-lg">
    <button class="btn btn-primary btn-lg" id="search-button" (click)="getLocation()">Search</button>
  </div>
</div>