@import './css/weather-icons.css';
@import './css/weather-icons-wind.css';
/*
    using http://erikflowers.github.io/weather-icons/
    for weather icons
*/

.result {
    background-color: rgba(255,255,255,0.7);
    padding: 2em;
    border-radius: 5px;
    font-size: 16px;
}

.huge_icon {
    font-size: 10em;
}

.thermometer {
    font-size: 18px;
}

#red_thermometer {
    color: red;
}

#blue_thermometer {
    color: blue;
}