@import './css/weather-icons.css';
@import './css/weather-icons-wind.css';
/*
    using http://erikflowers.github.io/weather-icons/
    for weather icons
*/

@media(max-width:10em) {
    #temp_logo {
        display: none;
    }
}

.result {
    background-color: rgba(255,255,255,0.7);
    padding: 1em;
    border-radius: 5px;
    font-size: 16px;
}

.huge_icon {
    font-size: 10em;
}

.thermometer {
    font-size: 18px;
}

.forecast {
    padding: 0;
    font-size: 1em;
}

.showing-day-button {
    height: 100%;
}

.full-height {
    height: 100%;
}

.back-button:hover {
    background-color: blue;
}

.side_button {
    /* Center buttons in div */
    padding-top: 5px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    border-radius: 5px;
}

#temp_logo {
    overflow: hidden;
}

#red_thermometer {
    color: red;
}

#blue_thermometer {
    color: blue;
}