@import '../../assets/fonts/weather-icon/css/weather-icons.css';
@import '../../assets/fonts/weather-icon/css/weather-icons-wind.css';

/*
    using http://erikflowers.github.io/weather-icons/
    for weather icons
*/

.result {
    background-color: rgba(255,255,255,0.7);
    padding: 0.5em;
    border-radius: 5px;
    font-size: 16px;
}

.thermometer {
    font-size: 18px;
}

.forecast {
    font-size: 1em;
}

.my-row {
    margin-bottom: 5px;
}

.full-width {
    width: 100%;
}

.side-button {
    /* Center buttons in div */
    display: flex;
    width: 100%;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    border-radius: 5px;
}

#red-thermometer {
    color: red;
}

#blue-thermometer {
    color: blue;
}